:root {
    --nav-bar-item-padding: 20px;
    --nav-bar-height: 15px;
    --vertical-spacing: 60px;
    --dark-primary-color: #3b202f;
    --primary-color: #4C243B;
    --secondary-color: #B84A62;
    --accent-color: #AC7B84;
    --link-color: #F5A6E6;
    --footer-height: 3.5rem;
    --navigation-height: 15px;




}

.top {
    background-color: var(--dark-primary-color);
    padding: 10px;
}

body {
    background-color: var(--primary-color);
    font-family: Montserrat;
    margin: 0;
    padding: 0 0 var(--footer-height) 0;
    color: white;
    
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1 {
    text-align: center;
}

.blog-list-img figure {
    margin-right: 20px;
    float: left;
}

.blog-list {
    overflow: auto;
    margin-bottom: 60px;
}

.blog-list-image {
    width: 400px;
    height: auto;
}

.blog-list-header {
    color: var(--secondary-color)
}

p {
    font-family: Open+Sans !important;
}

.responsible {
    width: 100%;
    height: auto;
}

.cultural-content {
    padding: 30px 0 30px 0;
}

.technical-content {
    padding: 30px 0 30px 0;
    background-color: var(--dark-primary-color);
}

figure {
    padding: 0;
    margin: 0;
  }

h3, h4 {
    color: #B84A62;
}

.code-tag {
    color: lightblue;
}

.code-sample {
    font-family: 'IBM Plex Mono', monospace;;
}

.nav-bar {
    padding: 20px;
    background-color: var(--secondary-color);
}

.nav-bar-title {
    display: inline;
    font-size: x-large;
}

ul.nav-bar-items {
    display: inline;
    list-style: none;
    color: white;
}

ul.nav-bar-items li {
    display: inline;
    padding: 20px;
}

ul.nav-bar-items li a {
    color: white;
    font-size: large;


}

.left-content {
    width: 350px;
    float: left;
    padding-right: 20px;
}

.right-content {
    margin-left: 370px;
}


.title {
    color: var(--accent-color);
    
}

ul.nav-bar-items li:hover {
    cursor: pointer;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .code-sample-img {
      width: 500px;
  }

  @media only screen and (max-width: 600px) {

    .nav-bar .container, .nav-bar {
        padding: 0;
        text-align: center;

    }

    .code-sample-img {
        width: 100%;
    }

    .left-content {
        float: none;
    }
    
    .right-content {
        margin-left: 0px;
    }

    .nav-bar-title {
        font-size: large;
        display: none;
    }
    
    ul.nav-bar-items {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    ul.nav-bar-items li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid var(--primary-color);
    }
    
    ul.nav-bar-items li a {
        font-size: large;
    }

    .blog-list-image {
        width: 100%;
    }

    .blog-list-img figure {
        margin-right: 20px;
        float: none;
    }
 
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }

  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

h1 {
    color: #E4DFDA;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}



footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
    position: fixed; 
    text-align: center;
    bottom: 0; 

    width: 100%; 
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
}