:root {
    --nav-bar-item-padding: 20px;
    --nav-bar-height: 15px;
    --vertical-spacing: 60px;
    --primary-color: #4C243B;
    --secondary-color: #B84A62;
    --accent-color: #AC7B84;
    --link-color: #F5A6E6;
    --footer-height: 3.5rem;



}

body {
    background-color: var(--primary-color);
    font-family: Montserrat;
    margin: 0;
    padding: 0 0 var(--footer-height) 0;
    color: white;
    
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1 {
    text-align: center;
}

.blog-list {
    overflow: auto;
    margin-bottom: 60px;
}

.blog-list-image {
    width: 400px;
    height: auto;
}

.blog-list-header {
    color: var(--secondary-color)
}



p {
    font-family: Open+Sans !important;
}

.responsible {
    width: 100%;
  height: auto;
}

h3, h4 {
    color: #B84A62;
}

.code-tag {
    color: lightblue;
}

.code-sample {
    font-family: 'IBM Plex Mono', monospace;;
}

.nav-bar {
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: var(--vertical-spacing);
    
}

ul.nav-bar-items {
    display: inline;
    list-style-type:none;
}

.nav-bar-title {
    display: inline;
    font-size: x-large;
    color: white;
    font-weight: bolder;
}

ul.nav-bar-items li {
    font-weight: bolder;
    display: inline-block;
    padding: 0px var(--nav-bar-item-padding) 0px var(--nav-bar-item-padding);
    font-size: large;
    padding: var(--nav-bar-height);
    width: 100px;
    text-align: center;
}

ul.nav-bar-items li a {
    color: white;
}

.title {
    color: var(--accent-color);
}

ul.nav-bar-items li:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: var(--accent-color);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

h1 {
    color: #E4DFDA;
}

.text-center {
    text-align: center;
}

.left-content {
    position: relative;
    left: 0;
    width: 350px;
    float: left;
}

div {
    margin-bottom: 20px;
}

.right-content {
    margin-left: 350px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}



footer {
    position: fixed; 
    text-align: center;
    bottom: 0; 
    padding-top: calc(var(--footer-height)/2);
    padding-bottom: calc(var(--footer-height)/2);

    width: 100%; 
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
}