:root {
    --nav-bar-item-padding: 20px;
    --nav-bar-height: 15px;
    --vertical-spacing: 60px;
    /*--primary-color:  #4C243B;
    --secondary-color: #B84A62;
    --accent-color: #AC7B84;
    --link-color: #F5A6E6; FF9F1C FFBF69

    --primary-color:  #2EC4B6;
    --secondary-color: #CBF3F0;
    --accent-color: #FF9F1C;
    --link-color: #FF9F1C;*/


    --primary-color:  #D77A61;
    --secondary-color: #EFF1F3;
    --accent-color: #D77A61;
    --link-color: #D8B4A0;
    --header-color: #223843;


    --footer-height: 3.5rem;
    --navigation-height: 15px;




}


.top {
    background-color: var(--dark-primary-color);
    padding: 10px;
}

body {
    background-color: var(--secondary-color);
    font-family: Montserrat;
    margin: 0;
    padding: 0 0 var(--footer-height) 0;
    
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h1 {
    text-align: center;
}

h2 {
    padding: 0px 0 10px 0;
    color: var(--header-color);
}

.content {
    background-color: white;
}

.blog-list-img figure {
    margin-right: 20px;
    float: left;
}

.blog-list {
    overflow: auto;
    margin-bottom: 60px;
}

.image {
    width: 800px;
    height: auto;
}

.blog-list-image {
    width: 400px;
    height: auto;
}

.blog-list-header {
    color: black;
}

h3 {
    color: var(--accent-color);
}

p {
    font-family: Open+Sans !important;
}

.responsible {
    width: 100%;
    height: auto;
}

.cultural-content {
}

.technical-content {
}

figure {
    padding: 0;
    margin: 0;
  }

.code-tag {
    color: lightblue;
}

.code-sample {
    font-family: 'IBM Plex Mono', monospace;;
}

.nav-bar {
    padding: 20px;
    background-color: var(--primary-color);

}

.nav-bar-title {
    display: inline;
    font-size: x-large;
}

ul.nav-bar-items {
    display: inline;
    list-style: none;
}

ul.nav-bar-items li {
    display: inline;
    border: 1px solid #DBD3D8;

    padding: 10px;
}

ul.nav-bar-items li a {
    font-size: large;

    width: 100px;
    color: #DBD3D8;



}

.left-content {
    width: 350px;
    float: left;
    padding-right: 20px;
}

.right-content {
    margin-left: 370px;
}


.title {
    font-weight: 900;
}

ul.nav-bar-items li:hover {
    cursor: pointer;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .code-sample-img {
      width: 500px;
  }

  @media only screen and (max-width: 600px) {

    .container {
        margin: 10px;
    }

    .nav-bar .container, .nav-bar {
        padding: 0;
        text-align: center;

    }

    .nav-bar {
        padding: 0px;
    }

    .code-sample-img {
        width: 100%;
    }

    .left-content {
        float: none;
    }
    
    .right-content {
        margin-left: 0px;
    }

    .nav-bar-title {
        font-size: large;
        display: none;
    }

    ul.nav-bar-items li {
        border: 0;
        display: block;


    }
    
    ul.nav-bar-items li a {
        font-size: large;
        display: initial;
    }

    .blog-list-image, .image {
        width: 100%;
    }

    .blog-list-img figure {
        margin-right: 20px;
        float: none;
    }
 
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }

  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}



footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
    position: fixed; 
    text-align: center;
    bottom: 0; 
    color: var(--primary-color);
    width: 100%; 
    background-color: var(--secondary-color);
    border-top: 1px solid white;
}